@charset "UTF-8";
/*!-----------------------------------------------  Font Styles ----------------------------------------------------*/
@font-face {
  font-family: filimo;
  src: url(../../Public/Fonts/PersianFonts/woff/IRANSansX-Regular.woff) format("woff"), url(../../Public/Fonts/fonts/PersianFonts/ttf/IRANSansX-Regular.ttf) format("ttf"), url(../../Public/Fonts/fonts/PersianFonts/eot/IRANSansX-Regular.eot?#iefix) format("eot"); }

@font-face {
  font-family: filimo;
  src: url(../../Public/Fonts/fonts/PersianFonts/woff/IRANSansX-Medium.woff) format("woff"), url(../../Public/Fonts/fonts/PersianFonts/ttf/IRANSansX-Medium.ttf) format("ttf"), url(../../Public/Fonts/fonts/PersianFonts/eot/IRANSansX-Medium.eot?#iefix) format("eot"); }

@font-face {
  font-family: filimo;
  src: url(../../Public/Fonts/fonts/PersianFonts/woff/IRANSansX-Bold.woff) format("woff"), url(../../Public/Fonts/fonts/PersianFonts/ttf/IRANSansX-Bold.ttf) format("ttf"), url(../../Public/Fonts/fonts/PersianFonts/eot/IRANSansX-Bold.eot?#iefix) format("eot"); }

/*!-----------------------------------------------  Reset Styles --------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  margin: 0;
  direction: rtl;
  font-family: "filimo", "sans-serif";
  font-weight: normal;
  font-style: normal;
  background-color: #151515; }

* {
  text-decoration: none !important;
  box-sizing: border-box; }

svg {
  font-size: 1.5rem; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
hr {
  margin: 0;
  padding: 0; }

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0.9; }
  .header__content {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*!-----------------------------------------  Header Right Styles -------------------------------------------------*/
    /*!--------------------------------------------  Header Left Styles ------------------------------------------------*/ }
    .header__content-text {
      font-size: 1.2rem; }
    .header__content-icon {
      margin-left: 0.5rem;
      width: 1.6rem; }
    .header__content-right {
      height: 100%;
      display: flex;
      justify-content: normal;
      align-items: center;
      gap: 3rem; }
      .header__content-right-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5 ease-out;
        color: #ffffff;
        gap: 0.5rem; }
        .header__content-right-item:hover {
          color: orange; }
      .header__content-right-pic {
        width: 9rem;
        height: 2.5rem; }
      .header__content-right--line {
        width: 0.1rem;
        height: 48%;
        background-color: rgba(255, 255, 255, 0.3); }
        .header__content-right--line.second {
          width: 100%;
          height: 0.5rem; }
      .header__content-right-res768 {
        display: none;
        color: #ffffff;
        font-size: 2rem;
        cursor: pointer;
        padding: 0.5rem; }
      .header__content-right-2res768 {
        display: none;
        color: red;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 2rem; }
      .header__content-right-second {
        height: 49vh;
        width: 40vw;
        background-color: #151515;
        display: none;
        flex-direction: column;
        position: fixed;
        right: -41vw;
        top: 0;
        box-shadow: 0 0 0.5rem 0rem #595959;
        border-radius: 0 0 0 0.5rem; }
    .header__content-left {
      height: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem; }
      .header__content-left-second {
        display: none; }

.slider {
  width: 100%;
  max-height: 50rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-top: 37%;
  /*!-----------------------------------------  slider details styles ------------------------------------------------*/ }
  .slider__image {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 0rem;
    background: linear-gradient(to bottom, #15151563 0% 40%, #151515 75% 85%, #151515fa 90% 100%); }
    .slider__image-pic {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: flex;
      position: relative;
      z-index: -1; }
  .slider__details {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: normal; }
    .slider__details-contents {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
    .slider__details-head--color {
      color: #ff9c5a;
      font-weight: normal;
      font-size: 2rem; }
    .slider__details-title {
      text-align: center; }
      .slider__details-title--color {
        color: #ffffff;
        font-weight: bolder;
        font-size: 2.5rem; }
    .slider__details-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .slider__details-items-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center; }
        .slider__details-items-text.first {
          order: 0; }
        .slider__details-items-text.second {
          order: -1; }
        .slider__details-items-text.third {
          order: -2; }
    .slider__details-btm {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slider__details-btm-main-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        color: #ffffff;
        font-size: 1.5rem; }
        .slider__details-btm-main-box-text {
          font-size: small;
          font-weight: lighter;
          color: #959ba2;
          font-size: 1.5rem;
          margin-left: 0.5rem; }

.popular {
  width: 85%;
  margin: 0 auto;
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .popular__title {
    width: 100%;
    display: flex;
    justify-content: normal;
    align-items: normal;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem; }
    .popular__title-subject {
      color: #ffffff;
      font-size: 1.7rem;
      font-weight: bold; }
    .popular__title-switch {
      width: 12rem;
      height: 3rem;
      border: 0.1rem solid #ffffff1f;
      border-radius: 1.6rem;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding: 0.1rem; }
      .popular__title-switch-item {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff; }
        .popular__title-switch-item.active {
          background-color: rgba(255, 255, 255, 0.12);
          border-radius: 1.6rem; }
  .popular__content {
    padding: 0.5rem 0.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem; }
    .popular__content-item {
      border-radius: 0.8rem;
      overflow: hidden;
      display: flex; }
      .popular__content-item.active {
        border: 0.1rem solid silver;
        transform: scale(105%); }
    .popular__content-image {
      display: flex;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: all 200ms ease-out;
      opacity: 0.6;
      border-radius: inherit; }
      .popular__content-image:hover {
        opacity: 1;
        cursor: pointer; }
      .popular__content-image.active {
        opacity: 1; }

.movie {
  width: 100%; }
  .movie__picture {
    width: 100%;
    height: 100%;
    background: url(../../Public/images/mov_cvr_144962_2406.webp) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0; }
  .movie__linear {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #151515 1%, #151515d2 23%, #15151500 90%, #151515 100%), linear-gradient(270deg, #151515ba 40%, #15151500 90%, #151515 100%); }
  .movie__content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    gap: 4rem;
    /*!----------------------------------------------- movie's season --------------------------------------------------*/ }
    .movie__content-top {
      width: 100%;
      background: url(../../Public/images/mov_logo_141218_814.webp) no-repeat;
      background-size: 22.5rem 15rem;
      background-position: 0% 50%; }
      .movie__content-top-items {
        width: 20.5rem;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 2.5rem; }
      .movie__content-top-first {
        width: 100%;
        font-size: 2.5rem; }
        .movie__content-top-first-link {
          height: 100%;
          color: #ffffff;
          font-weight: bolder; }
      .movie__content-top-second {
        width: 100%;
        color: #a1a1a1;
        font-size: 1rem; }
      .movie__content-top-third {
        font-size: 1rem;
        color: #a1a1a1; }
      .movie__content-top-fourth {
        display: flex;
        justify-content: normal;
        align-items: center;
        gap: 1rem;
        padding: 0;
        margin: 0; }
        .movie__content-top-fourth-text1 {
          background-color: rgba(77, 171, 86, 0.12);
          border-radius: 2.4rem;
          color: #1cb561;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          gap: 0.8rem;
          padding: 0.3rem 0.7rem; }
          .movie__content-top-fourth-text1 .icon {
            position: relative;
            bottom: 0.2rem; }
        .movie__content-top-fourth-text2 {
          font-size: 1rem;
          background-color: #282828;
          border-radius: 2.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          padding: 0.3rem 1.5rem; }
        .movie__content-top-fourth-text3 {
          font-size: 1rem;
          background-color: #282828;
          border-radius: 2.4rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          padding: 0.3rem 1.5rem; }
      .movie__content-top-fifth > p {
        font-size: 1.2rem;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .movie__content-bottom-season {
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-bottom: 4rem;
      gap: 2rem; }
    .movie__content-bottom-episode {
      border-radius: 0.8rem; }
      .movie__content-bottom-episode > a {
        width: 100%;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal; }
      .movie__content-bottom-episode-main {
        position: relative; }
      .movie__content-bottom-episode-image {
        border-radius: 0.8rem;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: normal;
        align-items: normal; }
      .movie__content-bottom-episode-extra {
        width: 100%;
        height: 3.4rem;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem; }
        .movie__content-bottom-episode-extra-right {
          padding: 0.3rem 0.7rem;
          background-color: #1d2b1f;
          color: #4dab56;
          border-radius: 2.4rem;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 1.2rem !important;
          font-weight: lighter;
          gap: 0.5rem; }
          .movie__content-bottom-episode-extra-right > svg {
            font-size: inherit; }
        .movie__content-bottom-episode-extra-left {
          width: 4rem;
          height: 2rem;
          background-color: rgba(0, 0, 0, 0.4);
          color: #ffffff;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center; }
      .movie__content-bottom-episode-text {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: bold; }
      .movie__content-bottom-episode-cover {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.687);
        backdrop-filter: blur(0.5rem); }
        .movie__content-bottom-episode-cover > div {
          width: 4.8rem;
          height: 4.8rem;
          background-color: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          top: 0;
          right: 0;
          left: 0;
          margin: auto; }
          .movie__content-bottom-episode-cover > div > .icon {
            color: #ffffff;
            backdrop-filter: blur(1.4rem);
            font-size: 1.5rem; }

.deviceequipment {
  width: 100%;
  padding: 6.5rem 0rem; }
  .deviceequipment__content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .deviceequipment__content-right {
      max-width: 50%;
      height: 100%;
      display: flex;
      justify-content: normal;
      align-items: normal; }
      .deviceequipment__content-right-image, .deviceequipment__content-right-image--2 {
        max-width: 100%;
        height: auto;
        display: flex; }
        .deviceequipment__content-right-image--2 {
          display: none; }
    .deviceequipment__content-left {
      max-width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 2rem; }
      .deviceequipment__content-left-text-first {
        color: #ffffff;
        font-size: 1.6rem;
        font-weight: bold;
        white-space: nowrap; }
      .deviceequipment__content-left-text-second {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        color: #d8d8d8;
        font-weight: lighter;
        max-width: 100%;
        line-height: normal;
        padding: 1rem 0rem; }
        .deviceequipment__content-left-text-second > p:first-child {
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .deviceequipment__content-left-text-details {
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 3rem; }
        .deviceequipment__content-left-text-details-body {
          display: flex;
          flex-direction: column;
          justify-content: normal;
          align-items: normal;
          gap: 0.5rem; }
      .deviceequipment__content-left-text-top {
        gap: 1rem;
        display: flex;
        justify-content: right;
        align-items: center; }
      .deviceequipment__content-left-text-icon {
        color: #a1a1a1; }
      .deviceequipment__content-left-text-bottom {
        color: #6b6b6b;
        font-size: 1.1rem;
        font-weight: 400;
        margin-right: 3rem;
        display: flex; }
      .deviceequipment__content-left-text-context {
        color: #d8d8d8;
        font-size: 1.4rem; }
      .deviceequipment__content-left-text-six {
        width: 100%;
        display: flex; }

.watchingway {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 6rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem; }
  .watchingway__bg {
    background: url(../../Public/images/TVBG.webp) no-repeat;
    background-position: 0% 100%;
    background-size: contain;
    width: 90%;
    height: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1; }
    .watchingway__bg--2 {
      height: 30rem;
      width: 100%;
      background: url(../../Public/images/TVBG-yaghi.webp) no-repeat;
      background-position: center;
      background-size: cover;
      display: none;
      border-radius: 5rem; }
  .watchingway__content {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    margin: 0 auto;
    gap: 1rem; }
    .watchingway__content-items {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 3rem; }
      .watchingway__content-items-text1 {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold; }
      .watchingway__content-items-text2 {
        color: #d8d8d8;
        font-weight: lighter;
        font-size: 1.1rem;
        max-width: 40rem;
        word-break: normal;
        text-align: justify;
        line-height: 1.5rem; }
      .watchingway__content-items-samples {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 0.5rem;
        font-size: 1.5rem; }
        .watchingway__content-items-samples-top {
          width: 100%;
          display: flex;
          justify-content: normal;
          align-items: center;
          gap: 1rem; }
        .watchingway__content-items-samples-bottom {
          font-size: 1.1rem;
          color: #a1a1a1;
          margin-right: 3rem; }

.freemovies {
  width: 100%;
  padding: 6rem 0rem; }
  .freemovies__body {
    width: 85%;
    margin: 0 auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal; }
  .freemovies__title {
    color: #ffffff;
    font-size: 2rem;
    width: 100%; }
  .freemovies__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.5rem 0.5rem;
    overflow: auto;
    gap: 2rem; }
    .freemovies__items-film {
      width: max-content; }
      .freemovies__items-film.active {
        transform: scale(105%); }
      .freemovies__items-film-link {
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        gap: 0.5rem;
        position: relative;
        opacity: 0.5;
        transition: all 1s ease-out;
        filter: blur(0.02rem); }
        .freemovies__items-film-link:hover {
          opacity: 1;
          filter: blur(0); }
        .freemovies__items-film-link.active {
          opacity: 1;
          filter: blur(0); }
      .freemovies__items-film-image {
        display: flex;
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
        object-fit: cover; }
        .freemovies__items-film-image.active {
          border: 0.1rem solid white; }
      .freemovies__items-film-subject {
        color: #ffffff;
        font-size: 1.2rem; }
        .freemovies__items-film-subject-extra {
          width: 100%;
          padding: 0.5rem 1rem;
          position: absolute;
          top: 0; }
          .freemovies__items-film-subject-extra > div {
            background-color: #1d2b1f;
            color: #4dab56;
            display: flex;
            justify-content: right;
            align-items: center;
            gap: 0.5rem;
            border-radius: 2.4rem;
            width: fit-content;
            padding: 0.5rem 1rem;
            font-size: 1rem; }

.animation {
  width: 100%; }
  .animation__cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(25deg, #05c5ff00 0% 65%, #05c5ff29 80% 100%);
    padding: 5rem 0rem; }
  .animation__content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem; }
    .animation__content-right {
      max-width: 40%;
      height: 100%;
      display: flex;
      justify-content: normal;
      align-items: normal; }
      .animation__content-right-image {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        display: flex; }
      .animation__content-right--2 {
        display: none; }
    .animation__content-left {
      max-width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 3rem; }
      .animation__content-left-text {
        width: 100%; }
        .animation__content-left-text:first-child {
          color: #ffffff;
          font-size: 2rem; }
        .animation__content-left-text:nth-child(2) {
          color: #a1a1a1;
          text-align: justify;
          font-size: 1.3rem; }
        .animation__content-left-text.bottom {
          display: flex;
          justify-content: normal;
          align-items: center;
          gap: 1rem; }

.online {
  width: 100%;
  position: relative; }
  .online__bg {
    background: url(../../Public/images/bg-cinama.online.webp) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1; }
  .online__body {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    padding: 6.5rem 0rem;
    gap: 4rem; }
    .online__body-title {
      width: 100%;
      font-size: 1.7rem;
      color: #ffffff;
      font-weight: bold;
      text-align: center; }
    .online__body-items {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem; }
      .online__body-items > :nth-child(2) {
        position: relative;
        right: 4rem; }
      .online__body-items-text {
        width: max-content;
        gap: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .online__body-items-text > span {
          color: #d8d8d8;
          font-size: 1.3rem;
          text-align: center; }
    .online__body-scroll {
      width: 100%;
      max-height: 40rem;
      display: flex;
      justify-content: center;
      align-items: normal;
      flex-wrap: wrap;
      gap: 2rem;
      overflow: auto; }
      .online__body-scroll-item-movie {
        min-width: 48%;
        display: flex;
        justify-content: normal;
        align-items: center;
        border: 0.1rem solid #33353d;
        border-radius: 1.2rem;
        padding: 1rem;
        backdrop-filter: blur(3.2rem);
        background-color: rgba(255, 255, 255, 0.06);
        gap: 1.5rem; }
        .online__body-scroll-item-movie-image {
          max-width: fit-content;
          border-radius: 0.8rem;
          display: flex;
          justify-content: center;
          align-items: center; }
          .online__body-scroll-item-movie-image > img {
            display: flex;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: inherit; }
        .online__body-scroll-item-movie-content {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          height: 100%;
          width: 100%; }
          .online__body-scroll-item-movie-content-right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: normal; }
            .online__body-scroll-item-movie-content-right > a:first-child {
              color: #ffffff;
              font-size: 1.3rem;
              font-weight: bold;
              cursor: pointer; }
            .online__body-scroll-item-movie-content-right > span:nth-child(2) {
              color: #d8d8d8;
              font-size: 1.2rem; }
            .online__body-scroll-item-movie-content-right > span + div {
              color: #ffffff;
              gap: 0.5rem;
              display: flex;
              justify-content: Right;
              align-items: normal; }
            .online__body-scroll-item-movie-content-right > div > div {
              color: #d8d8d8;
              font-size: 1.1rem;
              padding: 0.5rem 1rem;
              background-color: rgba(0, 0, 0, 0.2);
              border-radius: 1.6rem; }
          .online__body-scroll-item-movie-content-left {
            height: max-content;
            width: max-content;
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            justify-content: normal;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            border-radius: 1.6rem;
            color: #ffffff;
            font-size: 1rem; }

.comment {
  width: 100%;
  padding: 7rem 0rem; }
  .comment__body {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    gap: 3rem; }
    .comment__body-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .comment__body-title > span:first-child {
        color: #ffffff;
        font-size: 1.7rem;
        line-height: 2.4rem;
        font-weight: bold; }
      .comment__body-title > span:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem; }
        .comment__body-title > span:last-child .commenttitleicon {
          background-color: rgba(6, 6, 6, 0.5);
          color: #ffffff;
          border-radius: 50%;
          padding: 1.2rem 1.5rem;
          cursor: pointer;
          transition: all 2ms ease-in-out; }
          .comment__body-title > span:last-child .commenttitleicon:hover {
            background-color: #060606; }
    .comment__body-comments {
      width: 100%;
      overflow: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem; }
      .comment__body-comments-sample {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
        border: 0.1rem solid #33353d;
        background-color: #ffffff05;
        padding: 2.5rem;
        border-radius: 1.2rem;
        gap: 1.5rem;
        box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem #ffffff05;
        transition: all 1ms ease-in-out; }
        .comment__body-comments-sample:hover {
          background-color: #ffffff09; }
        .comment__body-comments-sample-title {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .comment__body-comments-sample-title > span {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem; }
            .comment__body-comments-sample-title > span > h2 {
              color: #959ba2;
              margin: 0;
              font-size: 1.5rem;
              font-weight: lighter; }
          .comment__body-comments-sample-title .titleiconright {
            border-radius: 50%;
            border: 0.1rem solid #33353d;
            padding: 0.3rem;
            color: #36343c; }
          .comment__body-comments-sample-title .titleiconleft {
            color: #36343c;
            font-size: 3rem; }
        .comment__body-comments-sample-input {
          width: 100%;
          height: 7.5rem;
          color: #f9f9f9;
          font-size: 1.1rem;
          line-height: 1.8rem;
          text-align: justify;
          overflow: auto;
          word-wrap: break-word;
          display: flex;
          flex-direction: column;
          justify-content: normal;
          align-items: normal;
          padding-left: 1rem; }

.faq {
  width: 100%;
  position: relative; }
  .faq__linear {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 20%, #151515c2 90%, #151515 100%); }
  .faq__content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 8rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    gap: 3rem; }
    .faq__content-title {
      text-align: center;
      font-size: large;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 1rem;
      font-size: 1.6rem; }
      .faq__content-title::after {
        content: "سوال شایع دیگر کاربران شاید برای شما پیش امده باشد";
        color: #9e9e9e;
        font-size: 1.2rem; }
    .faq__content-items {
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      gap: 1rem; }
    .faq__content-item {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      border-radius: 1.2rem;
      border: 0.1rem solid #33353d;
      margin: 0 auto;
      background-color: #ffffff05;
      box-shadow: 0rem 1rem 3.6rem 0.1rem #00000040;
      gap: 2rem; }
      .faq__content-item > span {
        color: #ffffff;
        font-size: 1.3rem; }
      .faq__content-item .fa-plus {
        color: #ff9c5a; }

.endpart {
  width: 100%;
  position: relative; }
  .endpart__linear {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 0.838) 1%, rgba(0, 29, 13, 0.424) 10% 60%, rgba(0, 29, 13, 0.26) 90% 100%);
    z-index: -1; }
  .endpart__content {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding: 7rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    gap: 5rem; }
    .endpart__content-second {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem; }
    .endpart__content-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem; }
      .endpart__content-item > span {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.75);
        text-align: center; }

.footer {
  width: 100%;
  height: 2.8rem;
  background-color: #191919;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex; }
  .footer__content {
    height: 100%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*!----------------------------------------------- Footer selected -------------------------------------------------*/ }
    .footer__content-right {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem; }
      .footer__content-right-res768 {
        display: none;
        color: #959595;
        cursor: pointer;
        padding: 0 0.5rem; }
      .footer__content-right-2res768 {
        display: none;
        color: red;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        padding: 0.5rem;
        font-size: 2rem; }
      .footer__content-right-second {
        display: none;
        flex-direction: column;
        height: 50vh;
        width: 40vw;
        background-color: #151515;
        position: fixed;
        right: -41vw;
        bottom: 0;
        box-shadow: 0 0 0.5rem 0rem #595959;
        border-radius: 0.5rem 0 0 0; }
    .footer__content-link {
      width: 100%;
      height: 100%;
      color: #959595;
      font-size: 1.1rem;
      font-weight: lighter;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.4s ease-out;
      cursor: pointer; }
      .footer__content-link:hover {
        color: #ffffff; }
    .footer__content-list {
      height: 100%;
      position: relative; }
      .footer__content-list-selected-second {
        height: 100%; }
      .footer__content-list.selected:hover .footer__content-right-selected {
        opacity: 1;
        transform: translate(0rem, 2rem);
        visibility: visible; }
      .footer__content-list-selected-second:hover .footer__content-right-selected-second {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0); }
    .footer__content-right-selected {
      width: 11.2rem;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: normal;
      background-color: #191919;
      position: absolute;
      bottom: 5.8rem;
      transition: all 0.4s ease-in-out;
      box-shadow: 0rem 0.5rem 1rem 0.1rem black;
      visibility: hidden;
      opacity: 0; }
      .footer__content-right-selected::after {
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: #191919;
        position: absolute;
        bottom: -0.5rem;
        right: 2rem;
        transform: rotate(45deg);
        z-index: -1; }
      .footer__content-right-selected-second {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #191919;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 1rem 0.1rem black;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        transform: translate(0rem, 1rem); }
        .footer__content-right-selected-second > li {
          display: flex;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center; }
    .footer__content-right-selectedlink {
      font-size: 1rem;
      color: #959595;
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 1rem;
      transition: all 0.3s ease-out;
      gap: 0.5rem; }
      .footer__content-right-selectedlink:hover {
        color: #ffffff;
        background-color: #474747; }
      .footer__content-right-selectedlink-second {
        color: #959595;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center; }
        .footer__content-right-selectedlink-second:hover {
          color: #ffffff;
          background-color: #474747; }
    .footer__content-left-second {
      height: 100%;
      display: none;
      align-items: center;
      justify-content: space-between; }
      .footer__content-left-second > li {
        padding: 0 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        transition: all 0.4s ease-out; }
        .footer__content-left-second > li:hover {
          background-color: #474747; }
        .footer__content-left-second > li > a {
          color: #959595;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.5rem;
          font-size: 1.1rem; }

/*!------------------------------------------------ The End -------------------------------------------------------*/
.header__content-left-item-buy {
  height: 100%;
  padding: 0rem 2rem;
  background-color: #17924e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
  color: #ffffff;
  border-radius: 0.4rem; }
  .header__content-left-item-buy:hover {
    background-color: #17924eac;
    cursor: pointer; }

.header__content-left-item-signin {
  height: 100%;
  padding: 0rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all 1s ease-out;
  border-radius: 0.4rem; }
  .header__content-left-item-signin:hover {
    background-color: rgba(255, 255, 255, 0.379); }

.slider__details-btm-item2 {
  padding: 2rem 6rem;
  background-color: #17924e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 1s ease-out;
  color: #ffffff;
  border-radius: 0.4rem; }
  .slider__details-btm-item2:hover {
    background-color: #17924eac;
    cursor: pointer; }

.deviceequipment__content-left-text-six-link {
  width: 16rem;
  background: #17924e;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  transition: all 1s ease-out;
  border-radius: 0.8rem;
  padding: 1rem; }
  .deviceequipment__content-left-text-six-link:hover {
    background-color: #17924eac; }

.watchingway__content-items-endlink {
  color: #ffffff;
  background-color: #60606073;
  width: max-content;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  transition: all 1s ease-out;
  cursor: pointer; }
  .watchingway__content-items-endlink:hover {
    background-color: #606060; }

.animation__content-left-link {
  background-color: #d6d6d6ac;
  color: black;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 1s ease-out; }
  .animation__content-left-link:hover {
    background-color: #ffffff; }

.online__body-scroll-item-movie-content-right > a:last-child,
.online__body-scroll-item-movie > a:last-child {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 0.1rem solid #33353d;
  border-radius: 0.8rem;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out; }
  .online__body-scroll-item-movie-content-right > a:last-child:hover,
  .online__body-scroll-item-movie > a:last-child:hover {
    background-color: #151515; }

.online__body-scroll-item-movie > a:last-child {
  display: none; }

.endpart__content-third {
  width: 28.5rem;
  color: #ffffff;
  padding: 1.7rem 7rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #17924e;
  transition: all 1s ease-out;
  cursor: pointer; }
  .endpart__content-third:hover {
    background-color: #17924eac; }

.slider__details-items-text--icon {
  font-size: normal;
  border-radius: 50%;
  color: #1cb561;
  background-color: rgba(28, 181, 97, 0.24);
  padding: 0.4rem; }

.online__body-items-text .icon {
  font-size: normal;
  border-radius: 50%;
  color: #1cb561;
  background-color: rgba(28, 181, 97, 0.24);
  padding: 0.4rem; }

.endpart__content-item .icon {
  font-size: normal;
  border-radius: 50%;
  color: #1cb561;
  background-color: rgba(28, 181, 97, 0.24);
  padding: 0.4rem; }

@media only screen and (max-width: 75em) {
  .popular__content {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem; } }

@media only screen and (max-width: 62em) {
  .deviceequipment__content-left {
    gap: 0rem; }
  .online__body-scroll-item-movie {
    min-width: 95%; }
  .online__body-items {
    flex-direction: column; }
    .online__body-items > :nth-child(2) {
      position: static; } }

@media only screen and (max-width: 48em) {
  html {
    font-size: 60%; }
  .header__content-right {
    display: none; }
    .header__content-right-res768 {
      display: flex; }
    .header__content-right-2res768 {
      display: flex; }
    .header__content-right-second {
      display: flex; }
  .header__content-left {
    display: none; }
    .header__content-left-second {
      display: flex; }
  .slider__details-contents {
    gap: 1.7rem; }
  .slider__details-items {
    flex-direction: column; }
  .movie__content-bottom-episode-extra-right,
  .movie__content-bottom-episode-extra-left {
    font-size: 1rem !important; }
  .movie__content-bottom-episode > a {
    width: 25rem; }
  .movie__content-bottom-season {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .deviceequipment__content-right {
    max-width: 55%; }
  .deviceequipment__content-left {
    max-width: 45%; }
    .deviceequipment__content-left-text-details {
      gap: 2rem; }
  .watchingway__bg {
    display: none; }
    .watchingway__bg--2 {
      display: flex; }
  .watchingway__content {
    gap: 3rem; }
    .watchingway__content > * {
      align-items: center; }
    .watchingway__content-items > p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .watchingway__content-items-samples {
      gap: 1.5rem; }
      .watchingway__content-items-samples-top {
        justify-content: center; }
      .watchingway__content-items-samples-bottom {
        margin: 0;
        text-align: center; }
  .animation__content {
    display: flex;
    flex-direction: column-reverse; }
    .animation__content-right {
      display: none; }
      .animation__content-right--2 {
        max-width: 65%;
        display: flex; }
    .animation__content-left {
      gap: 1.5rem;
      max-width: 100%;
      justify-content: center !important;
      align-items: center !important; }
      .animation__content-left-text {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important; }
  .comment__body-comments-sample {
    min-width: 100%; }
    .comment__body-comments-sample-input {
      width: 100%; }
  .endpart__content-second {
    flex-direction: column; }
  .footer__content {
    width: 93%; }
    .footer__content-right {
      display: none; }
      .footer__content-right-res768 {
        display: flex; }
      .footer__content-right-2res768 {
        display: flex; }
      .footer__content-right-second {
        display: flex; }
    .footer__content-left {
      display: none; }
      .footer__content-left-second {
        display: flex; } }

@media only screen and (max-width: 36em) {
  html {
    font-size: 55%; }
  .slider__details-btm-main-box {
    display: none; }
  .slider__details-items {
    gap: 1.5rem; }
  .deviceequipment__content-right {
    max-width: 52%; }
  .deviceequipment__content-left {
    max-width: 48%; }
    .deviceequipment__content-left-text-details {
      gap: 2rem; }
  .faq__content-item {
    width: 100%; } }

@media only screen and (max-width: 30em) {
  html {
    font-size: 53%; }
  .slider {
    padding-top: 85%; }
    .slider__details-contents {
      gap: 0rem; }
  .movie__content-top {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    .movie__content-top-items {
      justify-content: center;
      align-items: center; }
      .movie__content-top-items > div:first-child,
      .movie__content-top-items > div:nth-child(2) {
        text-align: center; }
  .deviceequipment__content {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .deviceequipment__content-left {
      max-width: 100%;
      gap: 1rem;
      text-align: center;
      justify-content: center; }
      .deviceequipment__content-left > * div,
      .deviceequipment__content-left span,
      .deviceequipment__content-left * p {
        justify-content: center;
        margin: 0rem !important;
        text-align: center; }
    .deviceequipment__content-right {
      max-width: 100%; }
      .deviceequipment__content-right-image, .deviceequipment__content-right-image--2 {
        display: none; }
        .deviceequipment__content-right-image--2 {
          display: flex; }
  .online__body-scroll-item-movie {
    flex-direction: column; }
    .online__body-scroll-item-movie > a:last-child {
      width: 100%;
      display: flex; }
    .online__body-scroll-item-movie-content-right {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem; }
      .online__body-scroll-item-movie-content-right > a:last-child {
        display: none; } }

@media only screen and (max-width: 23em) {
  html {
    font-size: 42%; }
  .online__body-scroll {
    max-height: 45rem; } }
